@model DoAnNhom1.Models.Info

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<h2 class="text-center">Xóa thông tin</h2>

<h3 class="text-danger">Bạn có chắc muốn xóa thông tin này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tiêu đề
        </dt>


        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>


        <dt>
            Nội dung
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            Hình ảnh 
        </dt>

        <dd>
            <img src="@Url.Content(Model.ImgInfo)" alt="Image" width="450" height="200" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
